**/*.code-workspace
*.class
.idea
target/
.bloop/
.metals/
null/
.vscode/
.bsp/
.sbt/
fitness-dimension/tmp/
fitness-dimension/.env
fitness-dimension/db/sql/
fitness-dimension/db/certs/
fitness-dimension/main
