<form (ngSubmit)="changePassword()" [formGroup]="newPasswordGroup" class="h-full pt-8 lg:h-auto lg:pt-0">
  <div class=" h-full flex flex-col fade-in gap-4 lg:grid lg:grid-cols-5">
    <label class="hidden lg:block lg:col-span-2 font-semibold text-3xl my-auto">New Password</label>
    <div class="lg:col-span-3">
      <wi-password-input formControlName="password"></wi-password-input>
      <small class="error">Password must have at least 8 characters, one uppercase and lowercase letter and one special character</small>
    </div>
    <div class="mt-auto lg:mt-0 lg:col-span-full text-center">
      <button (click)="goBack()" type="button" class="text-xl underline text-black pt-4">
        Back
      </button>
    </div>
    <div class="py-4 lg:col-span-full">
      <wi-submit-button
        submit
        [disabled]="newPasswordGroup.status == 'INVALID'"
        [loading]="changingPassword"
        type="action">
        Change Password
      </wi-submit-button>
    </div>
  </div>
</form>
