<div class="min-h-screen min-w-screen flex items-center justify-center">
    <form class="flex flex-wrap-reverse
      bg-white p-5 shadow sm:rounded-lg
      divide-x-0 sm:divide-x-2
      divide-black">
      <div class="m-2 p-2">
        
        <div class="grid">
          <span class="text-2xl text-center">Welcome to Work It</span>
        </div>
        
        <div class="grid grid-cols-3 py-3">
          <label class="p-2 text-gray-700 font-bold">Full name</label>
          <input type="text" class="col-span-2 p-2 shadow rounded-lg bg-gray-100 w-full outline-none focus:bg-gray-200" placeholder="John Smith">
        </div>

        <div class="grid grid-cols-3 py-3">
          <label class="p-2 text-gray-700 font-bold">User name</label>
          <input type="text" class="col-span-2 p-2 shadow rounded-lg bg-gray-100 w-full outline-none focus:bg-gray-200" placeholder="jsmith">
        </div>

        <div class="grid grid-cols-3 py-3">
          <label class="p-2 text-gray-700 font-bold">Email</label>
          <input type="text" class="col-span-2 p-2 shadow rounded-lg bg-gray-100 w-full outline-none focus:bg-gray-200" placeholder="john@mail.com">
        </div>
        
        <div class="grid grid-cols-3 py-3">
          <label class="flex-1 p-2 text-gray-700 font-bold">Password</label>
          <input type="password" class="col-span-2 p-2 shadow rounded-lg bg-gray-100 outline-none focus:bg-gray-200" placeholder="Enter password">
        </div>
        
        <div class="grid grid-cols-3 py-3">
          <label class="flex-1 p-2 text-gray-700 font-bold">Confirm password</label>
          <input type="password" class="col-span-2 p-2 shadow rounded-lg bg-gray-100 outline-none focus:bg-gray-200" placeholder="Enter password">
        </div>
        
        <div class="grid mt-10">
          <a href="auth/login" class="flex-1 p-2 text-center text-gray-700">Sign in</a>
        </div>
        
        <div class="grid">
          <button class="p-3 bg-indigo-400 text-white font-bold w-full hover:bg-indigo-500 rounded-lg">Next</button>
        </div>
        
      </div>
      <div class="flex items-center m-2 p-2">
          <img src="assets/images/logo.png" width="250" height="250" alt="Work It logo">
      </div>
    </form>
  </div>
  