<wi-routine-update-modal *cdkPortal (close)="updateRef.detach()" class="w-full"></wi-routine-update-modal>
<div class="h-full w-full overflow-auto">
  <div class="container mx-auto px-8 md:px-44 py-14">
    <div class="grid auto-rows-auto auto-cols-auto gap-2 w-full">
      <h1 class="text-3xl font-bold">Routine Name</h1>
      <p class="row-start-2 text-xl w-3/4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar neque et lacus aliquam, at eleifend orci ultrices.
      </p>
      <div class="col-start-2 row-span-full ml-auto py-4">
        <fa-icon (click)="showUpdateModal()" class="text-lg cursor-pointer" [icon]="moreIcon"></fa-icon>
      </div>
    </div>
    <div class="player relative flex flex-row items-center justify-center py-8">
      <fa-icon class="text-3xl transform scale-150 bg-white text-blue-500 cursor-pointer" [icon]="playCircleIcon"></fa-icon>
    </div>

    <div cdkDropList (cdkDropListDropped)="drop($event)" class="py-4 flex flex-col gap-8">
      <div cdkDrag *ngFor="let training of trainings" class="bg-white relative flex flex-row p-6 border-4 shadow-lg rounded-lg border-gray-500 gap-x-6">
        <fa-icon cdkDragHandle class="col-start-1 row-span-3 my-auto text-3xl cursor-move" [icon]="dragIcon">
        </fa-icon>
        <div class="pointer-events-none flex-auto">
          <h2 class="text-2xl font-bold row-start-1 col-start-2">{{ training.name }}</h2>
          <p class="text-lg row-start-2 col-start-2 overflow-hidden w-full">Made by {{ training.trainerId }}</p>
          <div class="flex flex-row flex-wrap gap-4 pt-3 row-start-3 col-start-2">
            <div *ngFor="let category of training.categories" class="cursor-pointer rounded-3xl bg-gray-400 w-min whitespace-nowrap px-4 py-2 text-base items-center">
              {{ category.value }}
            </div>
          </div>
        </div>
        <fa-icon class="absolute text-gray-500 cursor-pointer top-6 right-6" [icon]="closeIcon"></fa-icon>
      </div>
    </div>
  </div>
</div>
