<ng-template #entityCard let-entity let-role="role">
  <div class="group px-6 py-4 mx-auto flex flex-col gap-2 shadow-lg border-2 border-gray-100 rounded-lg w-full transition duration-100 hover:border-primary hover:border-opacity-50 hover:shadow-xl hover:scale-105">
    <p class="participant-name">{{ entity.name }}</p>
    <div class="participant-preferences">
      <span *ngFor="let taxonomy of entity.preferences" class="rounded-xl bg-gray-400 text-black text-xs px-2 py-1 shadow-sm">
        {{ taxonomy }}
      </span>
    </div>
    <p class="participant-request" [ngSwitch]="entity.requestStatus" *ngIf="entity.requestStatus != null">
      <span class="text-red-500" *ngSwitchCase="0">The participant has not issued a request</span>
      <button class="text-yellow-600 hover:underline text-left" *ngSwitchCase="1">The participant request is pending to be responded</button>
    </p>
    <div class="mt-auto flex flex-col">
      <a [routerLink]="['/social', 'profile', entity.id]" class="border-2 p-1 mt-4 border-black rounded-lg text-center text-black col-span-full hover:underline">
        Visit profile
      </a>
    </div>
  </div>
</ng-template>

<ng-template #participants>
  <div class="fade-in grid grid-cols-5 gap-8">
    <ng-container *ngIf="searchedParticipants.length > 0">
      <ng-container *ngFor="let participant of searchedParticipants; trackBy: idOf" [ngTemplateOutlet]="entityCard" [ngTemplateOutletContext]="{ $implicit: participant }">
      </ng-container>
    </ng-container>
    <div class="col-span-full" *ngIf="searchedParticipants.length <= 0">
      There are no participants registrated
    </div>
  </div>
</ng-template>

<ng-template #trainers>
  <div class="fade-in grid grid-cols-5 gap-8">
    <ng-container *ngIf="searchedTrainers.length > 0">
      <ng-container *ngFor="let trainer of searchedTrainers; trackBy: idOf" [ngTemplateOutlet]="entityCard" [ngTemplateOutletContext]="{ $implicit: trainer, role: 'trainer' }">
      </ng-container>
    </ng-container>
    <div class="col-span-full" *ngIf="searchedTrainers.length <= 0">
      There are no trainers currently registered
    </div>
  </div>
</ng-template>

<ng-template #requests>
  <div class="fade-in grid grid-cols-5 auto-cols-min gap-8">
    <ng-container *ngIf="pendingRequests.length > 0">
      <div *ngFor="let request of pendingRequests; trackBy: idOf" class="request-summary-card group px-6 py-4 mx-auto flex flex-col gap-2 shadow-lg w-full border-2 border-gray-100 rounded-lg transition duration-100 hover:border-primary hover:border-opacity-50 hover:shadow-xl hover:scale-105">
        <p class="participant-name">{{ request.name }}'s Request</p>
        <div class="mt-auto flex flex-col gap-2">
          <button (click)="acceptRequest(request.id)" class="border-2 p-1 mt-4 border-gray-400 bg-white text-black border-gray-400 hover:border-gray-500 hover:bg-action hover:text-white hover:font-semibold rounded-lg text-center transition duration-100">
            Accept Request
          </button>
          <button (click)="denyRequest(request.id)" class="border-2 p-1 bg-white text-black border-gray-400 hover:border-gray-500 hover:bg-red-500 hover:text-white hover:font-semibold rounded-lg text-center transition duration-100">
            Reject Request
          </button>
        </div>
      </div>
    </ng-container>
    <div class="col-span-full" *ngIf="pendingRequests.length <= 0">
      There are no participants' requests to become trainers currently pending
    </div>
  </div>
</ng-template>

<div class="px-8 py-4 h-full">
  <div class="flex flex-row gap-8 items-center justify-start p-4 border-b-2">
    <span (click)="selectTab('requests')" [ngClass]="tab == 'requests'? 'active' : ''" class="cursor-pointer">Conversion Requests</span>
    <span (click)="selectTab('participants')" [ngClass]="tab == 'participants'? 'active' : ''" class="cursor-pointer">Participants</span>
    <span (click)="selectTab('trainers')" [ngClass]="tab == 'trainers'? 'active' : ''" class="cursor-pointer">Trainers</span>
  </div>
  <div class="p-4">
    <ng-template [cdkPortalOutlet]="tabMap[tab]"></ng-template>
  </div>
</div>
