<div class="grid grid-cols-4 gap-4 h-full">
  <div class="col-span-3">
    <div class="h95">
      <div class="video-container w-full h-full bg-black">
        <video #video class="w-full h-full" controls></video>
      </div>
    </div>
    <div class="h5">
      <div class="flex justify-around pt-2">
        <div (click)="previousVideo()" class="cursor-pointer px-3">
          <i class="fas fa-caret-left"></i>
        </div>
        <div class="text-xl">
          <strong>{{ hrs }}:{{ min }}:{{ sec }}</strong>
        </div>
        <div (click)="nextVideo()" class="cursor-pointer px-3">
          <i class="fas fa-caret-right"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-1 overflow-y-auto">
    <div
      *ngFor="let training of trainings"
      class="border-y-2 border-gray-100 p-2"
    >
      {{ training.name }}
    </div>
  </div>
</div>
